body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 0 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ced6e0;
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: calc(360px / 5.2);
    width: calc(542px / 5.2);
}

header div {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ced6e0;
}

header div:hover {
    border-color: #70a1ff;
}

header div img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #ced6e0;
    vertical-align: middle;
}

header div p {
    display: inline;
}


.fc-basic-view .fc-body .fc-row {
    min-height: 3em !important;
}

#calendar {
    margin: 0 20px;

}

/* POP-UP */

.custom-radios {
    display: flex;
    flex-direction: column;
}

.custom-radios div {
    display: inline-block;
}

.custom-radios input[type="radio"] {
    display: none;
}

.custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
}

.custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all .3s ease;
}

.custom-radios input[type="radio"]#rVoulu + label span {
    background-color: #2ecc71;
}

.custom-radios input[type="radio"]#rNonVoulu + label span {
    background-color: #70a1ff;
}

.custom-radios input[type="radio"]#rIndisponible + label span {
    background-color: #ff6348;
}

.custom-radios input[type="radio"]:checked + label span {
    opacity: 1;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.labelType {
    display: inline;
    vertical-align: middle;
}

.labelType:hover {
    cursor: pointer;
}

#dates {
    display: flex;
    margin-top: 20px;
}

#endDate {
    margin-left: 20px;
}

#reason {
    margin-top: 20px;
}