.error_red{
    color: red;
    text-align: center;
}

.success_green{
    color: green;
    text-align: center;
}
#email {
    margin-bottom: 10px;
    height: 38px;
    width: 273px;
    margin-left: 15%;
    text-align: center;
}

#pwd {
    margin-bottom: 20px;
    margin-left: 15%;
}

#retour{
    margin-left: 40%;
    margin-top: 10px;
}