#menunav {
    background-color: #2C3E50;
    padding: 4px 30px;
    margin-bottom: 20px;
}

#logo-menu{
    height: 60px;
    width: auto;
}

#logo-user{
    height: 20px;
    width: auto;
    padding-right: 10px;

}

#link-dl{
    padding-top: 0;
}

#form-deconnection{
    margin: 0;
    width: auto;
    padding-left: 10px;
}

#text-menu{
    padding-right: 20px;
    color: white;
}

.nav-link{
    color: #FFFFFF !important;
}
