html {
    height: 100vh;
}

body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #2C3E50;
}

form {
    width: 500px;
    padding: 20px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

}

img {
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

h1 {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#userName {
    margin-bottom: 10px;
}

#pwd {
    margin-bottom: 20px;
}

#btnconnexion{
    color : #2C3E50;
    border-color: #2C3E50;
    background-color: #fff;

}

#btnconnexion:hover{
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
}

@media screen and (min-width: 768px) { /* DESKTOPS */
    form {
        border: 1px solid #ff6348;
        border-radius: 8px;
    }
}
