body{
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  background-color: #FFF;
}

p1{

  font-size: 7vh;
  color: #ff6348;
}
p2{
  font-size: 7vh;
  color: #70a1ff;
}
h2{
  font-size: 3vh;
  font-weight: 400;
}

a{
  font-weight: 300;

}
#section-formulaire-connexion {
    font-family: 'Ubuntu', sans-serif;

    margin: 7vh auto 0 auto;
    width: 33vw;
    text-align: center;
    padding: 5vh 2vw;
    background: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-color: #ff5050;
    border-width: 1px;
    border-radius: 7px;
    background-color: white;
}
#section-formulaire-connexion h2{
    font-weight: 300;
    font-size: 25px;
}

#section-formulaire-connexion input {
    font-weight: 300;
    width: 70%;
    margin: 3vh auto;
    padding: 1vh 1vw 1vh 1vw;
    display: block;
    border: none;
    border: 1.5px solid rgb(200, 200, 200);
    background: none;
    font-size: 12pt;
    border-radius: 5px;
}



#section-formulaire-connexion button {

}

.error_red{
    color: red;
    font-size: 18px;
    font-weight: 300;
}

.success_green{
    color: green;
    font-size: 18px;
    font-weight: 300;
}

#btns{
    margin-top: 2vh;
}

