body {
    margin: 0;
    padding: 0;
}

form input{
    display: none;
}

#title-liste{
    display: inline;
}

#button-add-liste{
    margin-bottom: 8px;
    justify-content: space-between;
    margin-right:8px;

}