body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}


#titre{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 2vh;
    width :100%;
    text-align: center;
}
#content{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

}

#section-parametres-infos{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #ff5050;
  border-radius: 5px;
  padding: 2vh 5vw 1vh 5vw;
}

#section-parametres-boutons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5vh 0;
}

#section-parametres-boutons button{
    margin: 0 10px;
}


