

#section-selection-vacances{
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    width: 50%;
    padding: 20px;
    border: 1px solid #ff5050;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;


}

#section-selection-vacances h1 {
    text-align: center;
    font-weight: 300;
    font-size: 25px ;
    margin-top:2vh;
    display: inline;
}

#button {
    margin: 10px 0;
}

#text-errorA{
    color: #F00;
    text-align: center;
    margin-top: 20px;
}

.text-result{
    margin-top: 20px;
}
